.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  background: red;
  color: #fff;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  background:transparent;
  color: #fff;
  line-height: 100px;
  float: right;
}
.ant-layout-content {
  border: transparent;
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

